
.conversion-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.conversion-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

select {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  color: #555;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
